<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta name="viewport" content="device=width, initial-scale=1">-->
    <title>Your Diary</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script th:src="@{/js/chartjs/chartjs-plugin-dragdata.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartFunctions.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/Chart.css" >
    <link rel="stylesheet" type="text/css" href="/css/main.css" >
</head>
<body>
<header>
    <div>
        <ul>
            <li>
                <p>Din ANTISTRESS Dagbog</p>
            </li>
            <li>
                <a href="/perform_logout">Log ud <i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</header>
<div class="left-sidebar"></div>
<main>
    <div id="status"></div>
    <div class="row">
        <div class="column1">
            <div class="box2" style="background-color: #fff"></div>
<!--            <div class="box3" style="background-color: #fff"></div>-->
<!--            <div class="box1" style="background: linear-gradient(180deg, rgba(158,35,22,1) 0%, rgba(228,212,40,1) 50%, rgba(62,144,79,1) 100%)"></div>-->
            <div class="box1" style="background-color: #9e2316"></div>
            <div class="box1" style="background-color: #ce8817"></div>
            <div class="box1" style="background-color: #e4d428"></div>
            <div class="box1" style="background-color: #3e904f"></div>
            <div class="box3" style="background-color: #fff"></div>
        </div>
        <div class="column2">
            <canvas id="chartJSContainer"></canvas>
        </div>
    </div>

<!--    <div style="height: 75vh">-->
<!--        <canvas id="chartJSContainer"></canvas>-->
<!--    <div>-->
        <form id="diaryForm" action="/user/api/saveDiary" method="post">
            <button type="submit">Gem Dagbog</button>
        </form>
        <form method="post" action="/user/diary">
            <button type="submit">Fortryd Ændringer</button>
        </form>
    </div>
</main>
<div class="right-sidebar"></div>
<script type="text/javascript">
    checkjQuery();
    preventSaveFormFromSending($("#diaryForm"))
</script>
</body>
</html>