<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta name="viewport" content="device=width, initial-scale=1">-->
    <title>Your Diary</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script th:src="@{/js/chartjs/chartjs-plugin-dragdata.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartFunctions.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Chart.css" >
    <link rel="stylesheet" type="text/css" href="/css/holygrail.css" >
</head>
<body>
<header>
    <div>
        <ul>
            <li>
                <p>Din ANTISTRESS Dagbog</p>
            </li>
            <li>
                <a href="/perform_logout">Log ud <i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    </div>
</header>
<div class="left-sidebar"></div>
<main>
    <div id="status"></div>
    <div class="row">
        <div class="column1">
            <div class="box2" style="background-color: #fff"></div>
            <div class="box1" style="background-color: #9e2316"></div>
            <div class="box1" style="background-color: #ce8817"></div>
            <div class="box1" style="background-color: #e4d428"></div>
            <div class="box1" style="background-color: #3e904f"></div>
            <div class="box3" style="background-color: #fff"></div>
        </div>
        <div class="column2">
            <canvas id="chartJSContainer"></canvas>
        </div>
    </div>
        <form id="diaryForm" action="/user/api/saveDiary" method="post">
            <div class="sleeprow">
                <div class="sleepcolumn1"></div>
                <div class="sleepcolumn2" id="sleepBar">
                    <div class="sleepinput" id="sleepInput0">Søvn:&nbsp;</div>
                    <div class="sleepinput" id="sleepInput1">Søvn:&nbsp;</div>
                    <div class="sleepinput" id="sleepInput2">Søvn:&nbsp;</div>
                    <div class="sleepinput" id="sleepInput3">Søvn:&nbsp;</div>
                    <div class="sleepinput" id="sleepInput4">Søvn:&nbsp;</div>
                    <div class="sleepinput" id="sleepInput5">Søvn:&nbsp;</div>
                    <div class="sleepinput" id="sleepInput6">Søvn:&nbsp;</div>
                </div>
            </div>
            <div>
                <button type="submit">Gem Dagbog</button>
            </div>
        </form>
        <form method="post" action="/user/diary">
            <button type="submit">Fortryd Ændringer</button>
        </form>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" id="note" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
                    <button id="save_note" type="button" class="btn btn-primary">Gem</button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="note_popup" style="">
        <input class="btn btn-dark" type="button" id="show_modal" value="Note" style="opacity: 50">
    </div>
</main>
<div class="right-sidebar"></div>
<script type="text/javascript">
    checkjQuery();
    preventSaveFormFromSending($("#diaryForm"))
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>