<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>diary</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" th:src= "@{/js/jqplot/jquery.jqplot.js}"></script>
    <script type="text/javascript" th:src="@{/js/jqplot/jqplot.canvasAxisTickRenderer.js}"></script>
    <script type="text/javascript" th:src="@{/js/jqplot/jqplot.canvasTextRenderer.js}"></script>
    <script type="text/javascript" th:src="@{/js/jqplot/jqplot.canvasOverlay.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartFunctions.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.jqplot.css" >

</head>
<body>
<div id="test_chart" style="width:880px; height:350px;margin-top: 30px;"></div>
<script type="text/javascript">
</script>
</body>
</html>