<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-default bg-light navbar-expand-lg">
    <div class="container-fluid" th:if="${#httpServletRequest.getUserPrincipal() == null}">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Antistress Dagbogen</a>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item"><a class="nav-link" href="/">Forside</a></li>
            <li class="nav-item"><a class="nav-link" href="/guide/view">Guide</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid" th:if="${#httpServletRequest.isUserInRole('USER')}">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Antistress Dagbogen</a>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item"><a class="nav-link" href="/">Forside</a></li>
            <li class="nav-item"><a class="nav-link" href="/guide/view">Guide</a></li>
            <li class="nav-item"><a class="nav-link" href="/guide/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/diary">Se Dagbog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i th:text="' ' + ${#httpServletRequest.getRemoteUser()}" class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/perform_logout">Log ud</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-fluid" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Antistress Dagbogen</a>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item"><a class="nav-link" href="/">Forside</a></li>
            <li class="nav-item"><a class="nav-link" href="/guide/view">Guide</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Dine klienter</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i th:text="' ' + ${#httpServletRequest.getRemoteUser()}" class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/perform_logout">Log ud</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 ft1" style="text-align: right">
                <p>Kundeservice</p>
            </div>
            <div class="col-6 ft2" style="text-align: left">
                <p>Handelsbetingelser</p>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-12">
                <p>Copyright © 2020 Thauer Stresscenter ApS · World Trade Center · Borupvang 3 · 2750 Ballerup · Danmark · CVR nr. 38518437 · (+45) 61 65 08 88</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>