<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noget Gik Galt</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" >
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <nav th:replace="fragments/general.html :: nav"></nav>
    <main class="flex-fill">
        <div class="container" style="text-align: center">
            <h4 style="padding: 5% 0 2% 0">Ikke Fundet</h4>
            <p style="padding: 0 20% 0 20%">
                Siden du prøvede at tilgå kunne ikke findes.
            </p>
            <p style="padding: 0 20% 0 20%">
                Vi beklager ulejligheded
            </p>
            <p style="padding: 0 20% 0 20%">
                error code: 404
            </p>
        </div>
    </main>
    <footer th:replace="fragments/general.html :: footer"></footer>
</div>
</body>
</html>