body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto
}


header {
   background: white;
   padding: 0rem;
   grid-column: 1 / 4;
}

.left-sidebar {
    background: white;
    grid-column: 1 / 2;
}

main {
    position: relative;
    background: white;
    grid-column: 2 / 3;
}

.right-sidebar {
    background: white;
    grid-column: 3 / 4;
}

footer {
    background: white;
    padding: 0rem;
    text-align: center;
    grid-column: 1 / 4;
}

body {
    font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
    padding: 5vw;
}

header ul {
    list-style-type: none;
    padding-left: 3rem;
    padding-right: 3rem;

}

header a {
    float: right;
    padding: 1rem;
}

.row {
    /*display: flex;*/
}

.column1 {
    width: 4%;
    height: 75vh;
}

.column1 .box1 {
    height: 22%;
}

.column1 .box2 {
    height: 8%;
}

.column1 .box3 {
    height: 4%;
}

.column2 {
    width: 96%;
    height: 75vh;
}

.sleeprow {
    display: flex;
}

.sleepcolumn1 {
    width: 50px;
}
.h4{
    font-family: Georgia, Serif;
    font-size: 60px;
    text-align: center;
}

.sleepcolumn2 {
    flex: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 4.5% 0 4.5%;
}

.sleepinput {
    display: inline-flex;
}

.popup {
    display: none;
    position: absolute;
    color: white;
    border: solid 1px #ddd;
}