.my-container {
    padding-bottom: 2%;
}

.sleep-form {
    display: flex;
    justify-content: space-between;
    padding: 0 6.5% 0 7%;
    text-align: center;
}

.sleep-group {
    display: inline;
}

footer {
    justify-content: center;
    background: #1e2322;
    color: #78807d;
    text-align: center;
}

body {
    font-family: system-ui, sans-serif;
}

.h4{
    font-family: Georgia, Serif;
    font-size: 60px;
    text-align: center;
}

.popup {
    display: none;
    position: absolute;
    color: white;
    border: solid 1px #ddd;
}

.nav.navbar-nav.navbar-right li a {
    color: rgb(105,105,105) !important;
}

.nav.navbar-nav li a{
    color: rgb(105,105,105) !important;
}

.navbar-header a {
    color: rgb(25,25,25) !important;
}