<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen!</title>
    <link rel="stylesheet" type="text/css" href="/css/holygrail.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    <script type="text/javascript" th:src="@{/js/navbarInsert.js}"></script>-->

</head>
<body>

<header><div th:insert="/navbar.html" id="navibar"> </div></header>
<div class="left-sidebar"></div>
<div>
    <h4>Velkommen, ha' en fantastisk dag!! </h4>
</div>
<div class="right-sidebar"></div>
<script type="text/javascript">

</script>
</body>
</html>