# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Peter\OneDrive - Københavns Erhvervsakademi\Documents\Workspace\3. Semester\antistressdagbog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
